{% if links %}
  <div class="social-links">
    {% for link in links %}
      <a class="social-links__link social-links__link--{{ link.id }}" href="{{ link.url }}" target="_blank">
        {% for icon_uri in link.icon %}
          <img class="social-links__icon" src="{{ file_url(icon_uri) }}" alt="{{ link.label }}" width="32" height="32" />
        {% endfor %}
      </a>
    {% endfor %}
  </div>
{% endif %}
